body{
    background-color: #F7F7F7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:1300px;
}
header{
    background-color: white;
    border:1px solid white;
    box-shadow:0px 10px 30px #7B7B7B29;
    width:1495px;
    margin: 0px;
}
h1{
    text-align:left;
    padding-left:130px;
}
.title{
    color:#00A5EC;
}
.plus{
    position:relative;
    left:1165px; top:40px;
}
.plus i{
    color: #00A5EC;
}
.two{
    position: absolute;
    left:50px; top:3px;
    width:200px;
    font-size:20px;
    color:#424242;
}
.TaskList{
    display: grid;
    position: relative;
    top:90px; left:130px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px;
    gap:20px;
}
.TaskList a{
    display: block;
    text-decoration: none;
}
.task{
    display: inline-block;
    border:1px solid #EDEDED;
    border-radius:10px;
    background-color:white;
    margin:0px;
    height:400px; width: 400px;
}
.task:hover{
    filter: drop-shadow(5px 5px 8px grey) drop-shadow(-5px -5px 8px grey);
}
h3{
    color:#00A5EC;
    padding-left:25px;
}
.place{
    position:relative;
    left:55%; top:40px;
}
.place .two{
    padding-left:15px;
    padding-top:10px;
}
.back{
    position:relative;
    left:30%; top:80px;
    text-decoration: none;
}
.four{
    text-decoration: none;
    color:#424242;
    position:absolute;
    top:6px;
    padding-left:10px;
    font-size:18px;
}
.place1{
 margin-left:20%;
 margin-top:15px; 
}
.size1{
    width:500px;
    height:350px;
    filter: drop-shadow(5px 5px 15px #7B7B7B29) drop-shadow(-5px -5px 15px #7B7B7B29);
}
.size1:hover{
    filter: drop-shadow(5px 5px 15px #7B7B7B29) drop-shadow(-5px -5px 15px #7B7B7B29);
}
.size1 h3{
    text-align:center;
}
.dark{
    filter:blur(2px);
}
.dark a{
    display:block;
}
.popup{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 280px;
    position:absolute;
    top:200px; left:500px;
}
.popupbox{
    background-color: white;
    border:3px solid grey;
    border-radius:10px;
    filter: drop-shadow(5px 5px 5px grey) drop-shadow(-5px -5px 5px grey);
}
.popupbox h3{
    padding-left:25px;
    padding-right:10px;
}
.popupbox h3 span{
    color:#404040;
    padding-right:290px;
}
.popupbox a{
    text-decoration:none;
}
.popupbox form{
    position: relative;
    top:30px; left:26px;
}
input[type=text]{
    border:1px solid #EDEDED;
    background-color:#F7F7F7;
    color:#858585;
    width:412px; height:20px;
    padding:10px;
    font-size:16px;
    border-radius:7px;
}
input[type=submit]{
    background-color:#00A5EC;
    border:1px solid white;
    color:white;
    font-size:18px;
    width:175px;
    height:50px;
    border-radius:7px;
    position:relative;
    top:30px; left:260px;
}
.task ul{
    list-style: none;
}
.task li{
    text-decoration: none;
    color:black;
}
.fancybox input[type=checkbox]{
    display: none;
}
.fancybox span:before {
    font-family: "FontAwesome";
    font-style: normal;
    content: '\f0c8';
    color: #EDEDED;
    font-size:35px;
    margin-right:15px;
    position:relative;
    top:8px;
}
.fancybox input[type="checkbox"]:checked ~ span:before {
    content: '\f14a';
    color: #C2C2C2;
    margin-right:15px;
}
.fancybox input[type="checkbox"]:checked + span {
    color:#C2C2C2;
    text-decoration:line-through;
}
.positioning{
    position:absolute;
    top:250px; left:430px;
}